header{
  background-color: lightgrey;
  text-align: center;
}
header nav{
  padding-right:1rem;
}

header ul{
  list-style-type: none;
}
header li{
  display: inline;
  padding-right: 1rem;
  text-decoration: none;
}
h1{
  text-align: center;
  color: green;
}
footer{
  background-color:lightgrey;
  text-align: center;
}
